.toggle-btn{
       position: relative;
       margin:10px;
}
            
.toggle-bar{
       height:10px;
       width:40px;
       background-color:#bad7df
       border-radius:5px;
       display: flex;
       position: relative;
       align-items: center;
}

.toggle-slider{
       position: absolute;
       border-radius:10px;
       left:0px;
       width:20px;
       height:20px;
       background-color:#543864;
       transition: left 0.3s;
}
