 @media only screen and (min-width:500px){
                .game-area{
                    flex-direction: row;
                }
                .controls{
                    width:30%;
                    
                }
                .game-board{
                    height:100%;
                    width:70%;
                    top:0%;
                    right:0%;
                }
     .board{
         grid-template-columns: repeat(3,27vh);
                grid-template-rows: repeat(3,27vh);
                grid-column-gap: 5px;
                grid-row-gap: 5px;
     }
     .cell{
         height:27vh;
         width:27vh;
         
         
     }
            }
