  body{
                margin:0px;
                min-height: 100vh;
                min-width: 100vw;
                display: grid;
                grid-template-rows: 70px 1fr 100px;
                grid-template-areas: "logo"
                                    "game-area"
                                    "footer";
            } 
            header{
                width:100%;
                background-color:#363636;
                grid-area: logo;
                display: grid;
                grid-template-columns: repeat(3,33.3%);
                align-items: center;
                justify-items: center;
                color:#eeeeee;
                z-index: 2;
            }
            .download-btn{
                justify-self:end;
            }
            .download-btn img{
                height: 40px;
                width: 40px;
                margin-right:10px;
            }
        .logo{
                justify-self:start;
                font-family: 'Josefin Sans', sans-serif;
            font-size: 25px;
            margin-left: 10px;   
            letter-spacing: 1.2;
            font-weight: 900;
            }    
            .game-area{
                grid-area: game-area;
                width:100%;
                height:100%;
                display: flex;
                position:relative;
                flex-direction: column;
            }
            footer{
                width:100%;
                background-color:#b7efcd;
                grid-area: footer;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition:background-color 1s;
            }
            footer div{
                margin:15px;
                background-color:#363636;
                border-radius: 50%;
                padding:5px;
            }
            footer img{
                height: 40px;
                width:40px;
            }
            
            .controls{
                background-color:#b7efcd;
                width:100%;
                height:100%;
                transition:background-color 1s, bottom 1s;
                display: flex;
                flex-direction: column;
                position: absolute;
                bottom:0;
                justify-content: center;
                align-items: center;
                z-index:1;
            }
            .game-board{
                background-color:#b7efcd;
                width:100%;
                height:100%;
                position:absolute;
                display: flex;
                top:0%;
                justify-content: center;
                align-items: center;
                transition:background-color 1s;
            }
            .board{
                display: grid;
                grid-template-columns: repeat(3,27vw);
                grid-template-rows: repeat(3,27vw);
                grid-column-gap: 5px;
                grid-row-gap: 5px;
                padding:10px;
                align-items: center;
                justify-items: center;
            }
            .cell{
                height: 27vw;
                width: 27vw;
                background-color:#4cd3c2;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3vw;
                font-size:3em;
                position: relative;
                left:0;
                top:0;
                font-family: 'Josefin Sans', sans-serif;
                color:#f6f6f6;
                transition:background-color 1s,left 0.5s, top 0.5s;
            }
            .cell:hover{
    
            }
            .cell:last-child{
                visibility: hidden;
            }

            .play-btn,.resume-btn{
                text-align: center;
                border:0px;
                width:40vw;
                height:auto;
                padding:15px;
                margin:10px;
                border-radius:50px;
                font-size:27px;
                color:#e3e3e3;
                font-family: 'Josefin Sans', sans-serif;
                background-color: dodgerblue;
            }
.resume-btn{
    display: none;
}
        #score{
            font-family: 'Josefin Sans', sans-serif;
            font-size:30px;
                
        }
            
           
          
